.navbar{
    max-height: 10vh;
}

.navbar-logo {
    border-right-style: solid;
}
img {
    max-height: 100%;
    max-width: 100%;
}

/*.navbar-Ending {*/
/*}*/

/*.navbar-Ending-Timer {*/

/*}*/

/*.navbar-Ending-EndClass {*/
/*    overflow: hidden;*/
/*}*/

