.header {
    height: 10vh;
    font-family: arial;
}

.header-logo {
    height: 90%;
}

.header-Heading {
    color: #5D4E42;
    margin-left: 3%;
    /*margin-bottom: 0.5%;*/
    margin-inline-start: 3%;
    /*font-size: 1.5rem;*/
}

.header-endClass {
    float: right;
    height: 70%;
    width: 24%;
    max-width: 127px;
    padding: 2% 15% 2% 15%;
}

.time {
    font-size: 1.5rem;
    /*top: 15%;*/
}

/*.header-label {*/
/*    padding: 50;*/
/*}*/
/*.header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/



